USE [HYGDB]
GO
/****** Object:  Table [dbo].[HYGtable]    Script Date: 13/01/2020 22:09:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HYGtable](
	[proper] [varchar](50) NOT NULL,
	[dist] [float] NULL,
	[mag] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[HYGtable] ([proper], [dist], [mag]) VALUES (N'Sol', 0, -26.7)
INSERT [dbo].[HYGtable] ([proper], [dist], [mag]) VALUES (N'Alpheratz', 29.7442, 2.07)
INSERT [dbo].[HYGtable] ([proper], [dist], [mag]) VALUES (N'Caph', 16.7842, 2.28)
GO
/****** Object:  StoredProcedure [dbo].[ImportData]    Script Date: 13/01/2020 22:09:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ImportData]
@proper varchar(50),
@dist float,
@mag float
AS
	INSERT INTO HYGtable(proper, dist, mag)
	VALUES (@proper, @dist, @mag)
GO
